:root {
  --black: #000000;
  --white: #ffffff;
  --cart-modal: rgba(0, 0, 0, 0.5);
  --gray: #a9a9a9;
  --orange-red: #ff4500;
  --deep-sky-blue: #00bfff;
  --alice-blue: #f0f8ff;
  --red: #ff0000;
  --dark-cyan: #008b8b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.category {
  margin-top: 40px;
  margin-left: 70px;
}
.category ul {
  list-style: none;
  display: flex;
  margin-top: 10px;
}
.category ul li {
  position: relative;
  margin-right: 10px;
}
.category ul li:hover {
  cursor: pointer;
}
.best {
  border-top: 2px solid red;
  position: absolute;
  top: 110%;
  left: 0;
  width: 110%;
  transform: scaleX(1);
  transform-origin: bottom right;
  transition: 2s ease-out;
}
.product-disp {
  display: flex;
  flex-wrap: wrap;
  margin: 70px;
  margin-top: 1rem;
}

.product-disp-1 {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.img-disp {
  width: 150px;
  height: 170px;
  position: relative;
}

.img-disp img {
  height: 100%;
  width: 100%;
  z-index: 100;
  object-fit: cover;
}

.img-disp button {
  position: absolute;
  border: none;
  top: 80%;
  left: 0;
  width: 100%;
  z-index: 3;
  opacity: 1;
  height: 20%;
}

.img-disp img:hover {
  cursor: pointer;
}
.view-btn {
  transition: all 1s;
  opacity: 0;
}
.img-disp:hover > .view-btn {
  opacity: 0.5;
}

.img-disp button:hover {
  cursor: pointer;
}

.product-name {
  margin-top: 10px;
}

.price {
  margin-top: 10px;
}

.btn-cart {
  margin-top: 10px;
  width: 100%;
}

.btn-cart button {
  background: var(--black);
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 20px;
  color: var(--white);
}

.btn-cart button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.cart-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: var(--cart-modal);
}

.cart-modal {
  background: var(--white);
  width: 25%;
  height: 100%;
  overflow-y: auto;
}

.cart-modal-header {
  position: fixed;
  top: 0;
  width: 25%;
  background: var(--black);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 100px;
  font-size: 18px;
}

.cart-modal-header h3 {
  margin-right: 8rem;
}

.cart-modal-header button {
  background: none;
  border: none;
  color: var(--white);
  font-size: 25px;
}

.cart-modal-info {
  padding-top: 53px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  height: 50%;
}

.cart-modal-info-2 {
  margin-top: 5px;
  padding: 25px 0 25px 0;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid var(--gray);
}

.del-div:hover {
  cursor: pointer;
}

.cart-modal-info-2 button {
  font-size: 12px;
  /* opacity: 0.5; */
  background: none;
  border: none;
  padding: 2px;
}

.cart-mod-img {
  width: 60px;
  height: 60px;
  overflow: hidden;
}

.cart-mod-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cart-name-price p {
  margin-bottom: 5px;
}

.sub-total-div {
  position: fixed;
  left: 75%;
  top: 60%;
  height: 40%;
  width: 100%;
  background: var(--white);
  z-index: 2;
}

.sub-total {
  display: flex;
  flex-direction: column;
  margin: 20px;
  font-size: 26px;
}

.sub-total h3 {
  margin-bottom: 8px;
}

.view-cart-btn {
  margin-top: 60px;
  border-top: 1px solid var(--gray);
}

.view-cart-btn button {
  margin: 40px;
  width: 20%;
  height: 44px;
  font-size: 16px;
  background: var(--orange-red);
  border: 2px solid var(--deep-sky-blue);
}

.view-cart-btn button:hover {
  cursor: pointer;
  outline: var(--deep-sky-blue);
  transition: all 2s;
  background: var(--alice-blue);
}

.cart-page {
  margin: 40px;
  margin-left: 90px;
  display: flex;
  justify-content: space-between;
}

.cart-header {
  border-bottom: 1px solid var(--gray);
  padding: 15px;
  width: 40rem;
  font-size: 19px;
  color: var(--dark-cyan);
}
.cart-page-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--gray);
  padding: 30px 0;
}
.cart-page-info-2 {
  display: flex;
}
.promo {
  margin-top: 30px;
  color: var(--orange-red);
}
.promo:hover {
  cursor: pointer;
}
.remove-button button {
  border: none;
  background: none;
  font-size: 20px;
  font-weight: 100;
}
.remove-button button:hover {
  cursor: pointer;
}
.cart-page-img {
  width: 60px;
  height: 60px;
}
.cart-page-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cart-page-name {
  margin-left: 20px;
}
.cart-page-info-3 {
  display: flex;
}
.order-summary-div {
  margin-right: 40px;
  font-size: 19px;
}
.order-summary {
  border-bottom: 1px solid var(--gray);
  padding: 15px;
  width: 20rem;
  color: var(--dark-cyan);
}
.cart-page-sub-total {
  border-bottom: 1px solid var(--gray);
  padding: 30px 0;
}
.subtotal-div {
  display: flex;
  justify-content: space-between;
}
.shipping-div {
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}
.total-div {
  margin-top: 20px;
}
.total-price {
  display: flex;
  justify-content: space-between;
}
.checkout {
  margin-top: 29px;
}
.checkout button {
  width: 100%;
  padding: 11px;
  font-size: 18px;
  color: var(--white);
  border: none;
  background: var(--red);
}
.checkout button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.checkout p {
  margin-top: 10px;
  text-align: center;
}
.prod-top {
  margin: 40px 140px 0;
  color: var(--black);
}
.prod-top span {
  margin-left: 5px;
  color: var(--red);
  cursor: pointer;
}
.prod-info {
  display: flex;
  margin: 90px 140px;
}
.prod-img {
  width: 45%;
  height: 25rem;
}
.prod-img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}
.prod-desc {
  margin-left: 30px;
  width: 40%;
  padding: 4px;
}
.prod-price-div {
  margin-bottom: 32px;
}
.prod-price-div p {
  font-weight: bold;
}
.prod-name-div {
  margin-bottom: 21px;
}
.prod-name-div h4 {
  font-size: 21px;
  font-weight: bold;
  color: var(--red);
  margin-bottom: 3px;
}
.prod-name-div p {
  font-weight: 200;
}
.add-buy-btn {
  margin-bottom: 32px;
}
.add-buy-btn button {
  width: 85%;
  padding: 13px;
  border: none;
  font-size: 15px;
  color: var(--white);
}
.add {
  background: var(--red);
}
.add:hover {
  cursor: pointer;
  opacity: 0.7;
}
.buy {
  background: var(--black);
  margin-top: 10px;
}
.buy:hover {
  cursor: pointer;
  opacity: 0.7;
}
.prod-desc-2 {
  border-bottom: 1px solid var(--gray);
  width: 85%;
  margin-bottom: 20px;
  padding-bottom: 15px;
}
.desc {
  display: flex;
  justify-content: space-between;
}
.desc p {
  font-size: 22px;
  font-weight: 200;
}
.desc p:hover {
  cursor: pointer;
}
.prod-return {
  border-bottom: 1px solid var(--gray);
  width: 85%;
  padding-bottom: 15px;
}
.return {
  display: flex;
  justify-content: space-between;
}
.return p {
  font-size: 20px;
  font-weight: 200;
}
.return p:hover {
  cursor: pointer;
}
.re {
  transition: all 10s ease;
}

.carousel-main {
  height: 70vh;
  width: 100vw;
  overflow: hidden;
  margin-bottom: 40px;
  position: relative;
}
.next,
.prev {
  position: absolute;
  z-index: 2;
  top: 45%;
  border: none;
  background: transparent;
}
.prev {
  left: 2%;
}
.next {
  left: 96%;
}
.prev:hover,
.next:hover {
  cursor: pointer;
}
.carousel-main figure {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  left: 0;
  float: left;
  transition-duration: 10s ease;
}
.slide {
  width: 100%;
  opacity: 0;
}
.slide.active {
  overflow: hidden;
  opacity: 1;
  transition: 3s;
  transform: scale(1.08);
  height: 100%;
}
.slide-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.welcome-msg {
  background: var(--white);
  z-index: 2;
  position: absolute;
  margin-left: 10%;
  top: 5%;
  width: 35%;
  font-size: 55px;
  padding: 30px;
  opacity: 0.5;
}

.main-deals {
  height: 70vh;
  width: 100vw;
  padding: 0px 50px;
  display: flex;
  overflow: hidden;
}
.stefan,
.jack,
.lucifer {
  height: 100%;
  width: 100%;
  margin: 0px 20px;
  position: relative;
  color: var(--white);
}
.stefan img,
.jack img,
.lucifer img {
  height: 100%;
  width: 100%;
}
.lucifer img {
  filter: grayscale(100%);
}
.lucifer h1 {
  position: absolute;
  z-index: 2;
  top: 5%;
  left: 25%;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 800;
  width: 50%;
}
.empty {
  position: absolute;
  z-index: 2;
  width: 18%;
  border-bottom: 2px solid var(--white);
  top: 50%;
  left: 25%;
}
.lucifer p {
  position: absolute;
  z-index: 2;
  top: 55%;
  font-size: 30px;
  font-weight: 300;
  left: 25%;
}
.stefan img {
  filter: blur(1px);
}
.stefan h1,
.stefan p,
.jack h1,
.jack p {
  position: absolute;
  z-index: 2;
  left: 5%;
}
.stefan h1,
.jack h1 {
  top: 40%;
  font-size: 50px;
  font-weight: 800;
}
.stefan p,
.jack p {
  top: 52%;
  font-size: 18px;
  width: 35%;
}
